


<div class='input-forms w-full max-w-md mx-auto mt-10'>

<h1 class='text-3xl mb-5 font-bold items-center'> <%= t('activerecord.models.building.one') %> </h1>
  <%= form_with model: [ :admin, @building ] do |form| %>
    <div class="input-devise-container">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'input-devise' %>
    </div>

    <div class="input-devise-container">
      <%= form.label :number %>
      <%= form.number_field :number, class: 'input-devise'%>
    </div>

    <div class="input-devise-container">
      <%= form.label :address %>
      <%= form.text_field :address, class: 'input-devise' %>
    </div>
    <%= form.submit 'crear', id:'create-building', class: 'w-full text-white bg-blue-500 hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-outline-none mb-3'%>
  <% end %>

  <% if @building.errors.any? %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-200 dark:bg-gray-800 dark:text-red-400" role="alert">
      <ul>
        <% @building.errors.full_messages.each do |message| %>
          <li class="font-medium"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>



