<h1 class='text-3xl mb-5 font-bold items-center'> <%= t('activerecord.models.building.one') %> </h1>
<%= render 'layouts/notice_and_alert' %>
<div class='w-full'>
  <div class="p-6 bg-white border border-stone-200 rounded-lg shadow-sm dark:bg-gray-900 dark:border-gray-700 mb-6"> 
    <p class="text-2xl font-bold text-stone-800 dark:text-white">Detalles del edificio</p>

    <p> Número: <%= @building.number%> </p>
    <p> Nombre: <%= @building.name%> </p>
    <p> Finca: <%= @building.address%> </p>
  </div>

  <div class="p-6 bg-white border border-stone-200 rounded-lg shadow-sm dark:bg-gray-900 dark:border-gray-700"> 
    <div class='md:flex md:justify-between items-center w-full mb-4 border-b-1 border-b-stone-900 dark:border-b-stone-300 pb-4'>
       <p class="mb-4 text-2xl font-bold text-stone-800 dark:text-white">Unidades del edificio</p>
       <div class='w-full md:w-auto flex items-end'>
          <a href='<%= new_admin_unit_path(building_id: @building.id) %>' class='px-3 ml-auto py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800'> Agregar Unidades </a>
       </div>
    </div>
    <% @building.units.each do |unit| %>
      <div class='flex justify-between pb-4 mb-4 border-b-1 border-b-stone-900'>
        <div class=''>
          <p class='font-bold'>Número: <%= unit.number %></p>
          <p class='font-bold'>Propietario: <%= unit.owner ? unit.owner.email : "No hay propietario" %></p></p>
          <p class='font-bold'>Inquilino: <%= unit.tenant ? unit.tenant.email : "No hay inquilino" %></p>
        </div>
        <div class="flex items-center">
          <a href="<%= admin_unit_path(unit.id) %>" id='show-unit-<%= unit.number %>' class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Ver más
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
          </div>
      </div>
    <% end %>
  </div>
</div>



